{% extends "base.html" %}
{%block container%}
<div class="container-fluid">
{%block content%}
<h1 align="center">Welcome to J&R's Cinema</h1>
<div class="">
<ul class="list-group list-group-horizontal d-flex justify-content-center flex-wrap" id="movies">
    {% for movie in movies %}
        <li class="list-group-item" id="movie-poster">
            <figure class="figure">
                <img class="rounded" src="{{ movie.poster }}" width="350" >
                <!-- <figcaption class="figure-caption text-center">{{ movie.title }}{% block admin %}{%endblock%}</figcaption> -->
            </figure>
        </li>
    {% endfor %}
</ul>
</div>
{%endblock%}
</div>
{%endblock%}